<h1>Making reviews</h1>
<p>Do the review as you like. For example: think of the word's meaning or definition, then look for it in a dictionary to check if it is right.</p>
<p><strong><%= @review.word.spelling %></strong></p>

<%= form_with(scope: :review, url: reviews_do_path) do |form| %>
  <div class="field">
    <label for="review_passed"><%= form.check_box(:passed) %> pass</label>
  </div>
  <div class="actions">
    <%= form.submit data: { confirm: 'do the review?' } %>
  </div>
<% end %>
