<%= render partial: "reviews/list", locals: {reviews: @reviews} %>
<%= link_to "Do the pending reviews", reviews_perform_path %>

<p><%= pluralize(Review.where(scheduled_for: Date.tomorrow).count, 'review') %> scheduled for tomorrow.</p>
