<% if @reviews.count > 0 %>
  <%= render partial: "reviews/list", locals: {reviews: @reviews} %>
  <%= link_to "Do pending reviews", reviews_perform_path %>
<% else %>
  <p>Nothing to review today. You can have a rest or learn more.</p>
<% end %>
